# Intro to Pandas in Python

#### Playing with 538 Politics data to get a feeling for using pandas

In [23]:
import pandas as pd
turnovers = pd.read_csv('https://git.io/fj9Vn')

We have some data, so let's play around with it. 

### Exploratory stuff

The data is from 538 Politics with the following content:

|Header|Defnition|
|------|---------|
|president|Last name of sitting President|
|position|Cabinet Position|
|appointee|Appointee's full name|
|start|Date the appointee was sworn in|
|end|Date the appointee left office|
|length|Length of Tenure in days|
|days|Days into admininstration that the appointee left office|


Here's some basic functions to get info about dataframes:

In [24]:
turnovers.head()

,president,position,appointee,start,end,length,days
0,Carter,OMB Director,Bert Lance,1/21/77,9/23/77,245,247
1,Carter,Secretary of Transportation,Brock Adams,1/23/77,7/20/79,908,912
2,Carter,"Secretary of Health, Education & Welfare",Joseph Califano Jr.,1/25/77,8/3/79,920,926
3,Carter,Secretary of Housing & Urban Development,Patricia Harris,1/23/77,8/3/79,922,926
4,Carter,Secretary of the Treasury,W. Michael Blumenthal,1/23/77,8/4/79,923,927

In [25]:
turnovers.tail()

,president,position,appointee,start,end,length,days
307,Trump,Secretary of Homeland Security,Kirstjen Nielsen,12/6/17,Still in office,#VALUE!,#VALUE!
308,Trump,Secretary of Health & Human Services,Alex Azar,1/29/18,Still in office,#VALUE!,#VALUE!
309,Trump,Secretary of State,Mike Pompeo,4/26/18,Still in office,#VALUE!,#VALUE!
310,Trump,CIA Director,Gina Haspel,5/21/18,Still in office,#VALUE!,#VALUE!
311,Trump,Secretary of Veterans Affairs,Robert Wilkie,7/30/18,Still in office,#VALUE!,#VALUE!

In [26]:
type(turnovers)

pandas.core.frame.DataFrame

In [30]:
turnovers.describe()

,president,position,appointee,start,end,length,days,pos and time
count,312,312,312,312,312,312,312,312
unique,7,28,270,238,175,249,151,248
top,Bush 43,Chief of Staff,Leon Panetta,1/22/93,1/20/17,#VALUE!,2923,Secretary of Housing & Urban Development-2923
freq,58,21,4,10,21,18,63,4

Like numpy arrays, dimensions of dataframes are called axses. `axis[0]` are the rows, `axis[1]` are the columns. Dataframes has an attribute 'shape' that tells the length of the axses. Dataframes have a kind of extra column that indexes the rows. When accessing a specific row or set of rows, the row(s) is/are accessed via the index which are just numbers [0.n).

In [31]:
turnovers.shape

(312, 8)

In [32]:
turnovers.dtypes

president       object
position        object
appointee       object
start           object
end             object
length          object
days            object
pos and time    object
dtype: object

Cool, we have a dataframe with some data about political stuff. 

A 'column' in pandas is a Series. Series are indexed like a list but instead of `arr[0]` or something, instead index them via the Series headers.

In [27]:
turnovers['position']

0                                  OMB Director
1                   Secretary of Transportation
2      Secretary of Health, Education & Welfare
3      Secretary of Housing & Urban Development
4                     Secretary of the Treasury
                         ...
307              Secretary of Homeland Security
308        Secretary of Health & Human Services
309                          Secretary of State
310                                CIA Director
311               Secretary of Veterans Affairs
Name: position, Length: 312, dtype: object

These columns can be concatenated as well.

In [43]:
turnovers['position'] + ', ' + turnovers['days']

0                                  OMB Director, 247
1                   Secretary of Transportation, 912
2      Secretary of Health, Education & Welfare, 926
3      Secretary of Housing & Urban Development, 926
4                     Secretary of the Treasury, 927
                           ...
307          Secretary of Homeland Security, #VALUE!
308    Secretary of Health & Human Services, #VALUE!
309                      Secretary of State, #VALUE!
310                            CIA Director, #VALUE!
311           Secretary of Veterans Affairs, #VALUE!
Length: 312, dtype: object

A series indexed via a header that doesn't exist yet becomes a new series in said frame.

In [45]:
turnovers['pos and time'] = turnovers['position'] + '-' + turnovers['days']
turnovers.head()

,president,position,appointee,start,end,length,days,pos and time
0,Carter,OMB Director,Bert Lance,1/21/77,9/23/77,245,247,OMB Director-247
1,Carter,Secretary of Transportation,Brock Adams,1/23/77,7/20/79,908,912,Secretary of Transportation-912
2,Carter,"Secretary of Health, Education & Welfare",Joseph Califano Jr.,1/25/77,8/3/79,920,926,"Secretary of Health, Education & Welfare-926"
3,Carter,Secretary of Housing & Urban Development,Patricia Harris,1/23/77,8/3/79,922,926,Secretary of Housing & Urban Development-926
4,Carter,Secretary of the Treasury,W. Michael Blumenthal,1/23/77,8/4/79,923,927,Secretary of the Treasury-927

`describe()` can provide basic statistics over the dataset.

In [30]:
turnovers.describe()

,president,position,appointee,start,end,length,days,pos and time
count,312,312,312,312,312,312,312,312
unique,7,28,270,238,175,249,151,248
top,Bush 43,Chief of Staff,Leon Panetta,1/22/93,1/20/17,#VALUE!,2923,Secretary of Housing & Urban Development-2923
freq,58,21,4,10,21,18,63,4

In [46]:
turnovers.columns

Index(['president', 'position', 'appointee', 'start', 'end', 'length', 'days',
       'pos and time'],
      dtype='object')

Like with all python, functions can be chained. Renaming dataframes is done with dictionaries `{'from', 'to'}`. Dropping columns or rows is done by either index or column names. The dropping is done by default the index and via axis 0. However, you can also drop by columns but you must indicate what axis.

In [34]:
turnovers.rename(columns={'pos and time':'length'}) \
         .drop('president', axis=1) \
         .head()

,position,appointee,start,end,length,days,length
0,OMB Director,Bert Lance,1/21/77,9/23/77,245,247,OMB Director-247
1,Secretary of Transportation,Brock Adams,1/23/77,7/20/79,908,912,Secretary of Transportation-912
2,"Secretary of Health, Education & Welfare",Joseph Califano Jr.,1/25/77,8/3/79,920,926,"Secretary of Health, Education & Welfare-926"
3,Secretary of Housing & Urban Development,Patricia Harris,1/23/77,8/3/79,922,926,Secretary of Housing & Urban Development-926
4,Secretary of the Treasury,W. Michael Blumenthal,1/23/77,8/4/79,923,927,Secretary of the Treasury-927

Note, unless `inplace=True` is passed into these functions, the dataframes are not changes. Likewise, `inplace=True` is frowned upon (and maybe dropped soon), so saving the results needs to be set to a variable.

In [35]:
turnovers.head()

,president,position,appointee,start,end,length,days,pos and time
0,Carter,OMB Director,Bert Lance,1/21/77,9/23/77,245,247,OMB Director-247
1,Carter,Secretary of Transportation,Brock Adams,1/23/77,7/20/79,908,912,Secretary of Transportation-912
2,Carter,"Secretary of Health, Education & Welfare",Joseph Califano Jr.,1/25/77,8/3/79,920,926,"Secretary of Health, Education & Welfare-926"
3,Carter,Secretary of Housing & Urban Development,Patricia Harris,1/23/77,8/3/79,922,926,Secretary of Housing & Urban Development-926
4,Carter,Secretary of the Treasury,W. Michael Blumenthal,1/23/77,8/4/79,923,927,Secretary of the Treasury-927

In [36]:
throwaway = turnovers.rename(columns={'pos and time':'length'}) \
                     .drop('president', axis=1) \
                     .head()
throwaway

,position,appointee,start,end,length,days,length
0,OMB Director,Bert Lance,1/21/77,9/23/77,245,247,OMB Director-247
1,Secretary of Transportation,Brock Adams,1/23/77,7/20/79,908,912,Secretary of Transportation-912
2,"Secretary of Health, Education & Welfare",Joseph Califano Jr.,1/25/77,8/3/79,920,926,"Secretary of Health, Education & Welfare-926"
3,Secretary of Housing & Urban Development,Patricia Harris,1/23/77,8/3/79,922,926,Secretary of Housing & Urban Development-926
4,Secretary of the Treasury,W. Michael Blumenthal,1/23/77,8/4/79,923,927,Secretary of the Treasury-927

Attributes, however, can be overwritten.

In [37]:
throwaway.columns = ['We', 'are', 'the', 'crystal', 'gems', 'save', 'day']
throwaway.head()

,We,are,the,crystal,gems,save,day
0,OMB Director,Bert Lance,1/21/77,9/23/77,245,247,OMB Director-247
1,Secretary of Transportation,Brock Adams,1/23/77,7/20/79,908,912,Secretary of Transportation-912
2,"Secretary of Health, Education & Welfare",Joseph Califano Jr.,1/25/77,8/3/79,920,926,"Secretary of Health, Education & Welfare-926"
3,Secretary of Housing & Urban Development,Patricia Harris,1/23/77,8/3/79,922,926,Secretary of Housing & Urban Development-926
4,Secretary of the Treasury,W. Michael Blumenthal,1/23/77,8/4/79,923,927,Secretary of the Treasury-927

In [38]:
# You can also do some fancy chaining magic to do some of this!
throwaway.columns = throwaway.columns.str.capitalize()
throwaway

,We,Are,The,Crystal,Gems,Save,Day
0,OMB Director,Bert Lance,1/21/77,9/23/77,245,247,OMB Director-247
1,Secretary of Transportation,Brock Adams,1/23/77,7/20/79,908,912,Secretary of Transportation-912
2,"Secretary of Health, Education & Welfare",Joseph Califano Jr.,1/25/77,8/3/79,920,926,"Secretary of Health, Education & Welfare-926"
3,Secretary of Housing & Urban Development,Patricia Harris,1/23/77,8/3/79,922,926,Secretary of Housing & Urban Development-926
4,Secretary of the Treasury,W. Michael Blumenthal,1/23/77,8/4/79,923,927,Secretary of the Treasury-927

In [52]:
turnovers.drop(index=[1,3,5], columns=['position', 'days', 'pos and time']).head()

  president              appointee    start      end length
0    Carter             Bert Lance  1/21/77  9/23/77    245
2    Carter    Joseph Califano Jr.  1/25/77   8/3/79    920
4    Carter  W. Michael Blumenthal  1/23/77   8/4/79    923
6    Carter         Robert Strauss  3/30/77  8/17/79    870
7    Carter      James Schlesinger   8/6/77  8/23/79    747

In [40]:
# YOu can sort a variety of ways, again, though, you are updating the 
# content so it won't update the table
turnovers.sort_values(['position', 'length']).head()

,president,position,appointee,start,end,length,days,pos and time
82,Reagan,Attorney General,Dick Thornburgh,8/12/88,Bush admin,1098 combined,#VALUE!,Attorney General-#VALUE!
90,Bush 41,Attorney General,Dick Thornburgh,Reagan admin,8/15/91,1098 combined,938,Attorney General-938
61,Reagan,Attorney General,Ed Meese,2/25/85,8/12/88,1264,2762,Attorney General-2762
185,Bush 43,Attorney General,John Ashcroft,2/2/01,2/3/05,1462,1476,Attorney General-1476
46,Reagan,Attorney General,William French Smith,1/23/81,2/25/85,1494,1498,Attorney General-1498

In [21]:
# The values are all object type so the sort function is likely 
# sorting by strings somehow. In any case, since it is not int, the
# values are not sorted numerically but someway else
turnovers['length'].sort_values()

311    #VALUE!
294    #VALUE!
295    #VALUE!
296    #VALUE!
310    #VALUE!
        ...
8          966
202        972
201        972
151        974
226        989
Name: length, Length: 312, dtype: object

### Practice data cleaning

The data is currently not exactly in a state that is easy to work with. IE it needs to be cleaned. For example, some values are `#VALUE!`, all the types are `obj`, etc. Let's clean this up a bit.

1. First, `Still in office` shows up for people, well, still in office. Replace it with the current date for now. 
2. Some of the end dates are `<president> admin` meaning those people started during the term of one president and finished during another president's term. Since these might be rare, let's see if these are something that skews the data. We may end up tossing this.
3. For some records, the `days` part of the record is `#VALUE!` and thus that person is not out of the office yet. We may also toss these.

In order to see what the values are, though, to make sure we are not leaving out stuff, let's poke the data.

In [60]:
for column_name in turnovers.columns:
    turnovers[column_name].unique()

In [55]:
turnovers = turnovers.drop(columns='pos and time').replace(to_replace='#VALUE!', value=-1)
turnovers['president'] = turnovers['president'].astype(str)
turnovers['position'] = turnovers['position'].astype(str)

In [56]:
turnovers.head()

,president,position,appointee,start,end,length,days
0,Carter,OMB Director,Bert Lance,1/21/77,9/23/77,245,247
1,Carter,Secretary of Transportation,Brock Adams,1/23/77,7/20/79,908,912
2,Carter,"Secretary of Health, Education & Welfare",Joseph Califano Jr.,1/25/77,8/3/79,920,926
3,Carter,Secretary of Housing & Urban Development,Patricia Harris,1/23/77,8/3/79,922,926
4,Carter,Secretary of the Treasury,W. Michael Blumenthal,1/23/77,8/4/79,923,927